.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 31.25%);
  min-height: 74px;
  padding-top: 45px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding-top: 28px;
  }
}